.bodyHeader{
    position: relative;
    border: 1px solid black;
    border-right: none;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    background-color: #ececec;
    font-weight: bold;
    font-size: larger;
}

.bodyHeader .text {
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
    text-align: left;
    width: 70%;
}

.bodyHeader .options {
    position: absolute;
    font-weight: 200;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 22px;
    margin: 0;
    right: 0;
}

.bodyHeader .options .option {
    padding-right: 10px;
}

.bodyHeader .options svg {
    padding-top: 5px;
}