.dropdown {
    position: relative;
}

.dropdown-options {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    z-index: 99;
    position: absolute;
    width: max-content;
    padding: 10px;
    margin: 0;
    right: 0;
    user-select: none;
}

.dropdown-header .count {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    color: red;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
}

.dropdown-options .dropdown-option {
    width: 100%;
    border-radius: 10px 10px 0 0;
    font-size: large;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.dropdown-options .close:hover {
    background-color: #ececec;
}

.dropdown-option .content {
    display: block;
    font-size: medium;
    padding: 1px 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
    overflow-wrap: break-word;
    margin: 0;
    text-align: start;
}

.dropdown-options .dropdown-option a{
    text-decoration: none;
    color: black;
}

.dropdown-option .date {
    text-align: start;
    font-size: small;
    color: gray;
    border-bottom: 1px solid gray;
    text-align: end;
    padding: 0 10px 5px 10px;
    width: calc(100% - 20px);
    align-items: end;
    display: flex;
    flex-direction: row;
}

.dropdown-options .more {
    vertical-align: middle;
    font-size: small;
    color: gray;
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
    width: 100%;
    height: min-content;
}

.dropdown-option p {
    padding: 0;
    margin: 0;
}

.dropdown-options .close{
    font-size: small;
    color: gray;
    padding: 0;
    margin: 0;
    margin-left: auto;
    border-radius: 3px;
}