.modalOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.modalOuterDown {
    display: block;
    width: 40vw;
}


.modalOuter button {
    border: none;
    background-color: white;
    float: right;
    margin-top: 10px;
}

.modalOuter input {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modalOuter .nick {
    margin-top: 10px;
    font-size: larger;
}

.modalOuter img {
    width: 20%;
    margin: 0;
    padding: 0;
}

.modalOuter .customSpan {
    white-space: pre-line;
    text-align: center;
}

button:focus {
    outline: 0;
}

.modalOuter .modalShareHeader {
    display: flex;
    flex-direction: row;
    width: 30vw;
    min-width: 400px;
}

.modalShareHeader .close {
    margin-left: auto;
}

.ReactModal__Overlay {
    z-index: 999;
}

.modalShareBody .shareInput {
    width: 30vw;
    min-width: 400px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    margin: 0;
}

.modalShareBody .shareInput:focus {
    outline: none;
}

.modalShareBody {
    height: 20%;
    border: 1px solid black;
    
}