.modalOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.modalOuterDown {
    display: block;
    width: 40vw;
}


.modalOuter button {
    border: none;
    background-color: white;
    float: right;
    margin-top: 10px;
}

.modalOuter input {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}

.modalOuter input:focus {
    outline: none;
}

.modalOuter .nick {
    margin-top: 10px;
    font-size: larger;
}

.modalOuter .customSpan {
    white-space: pre-line;
    text-align: center;
}

button:focus {
    outline: 0;
}

.modalOuter .modalShareHeader {
    display: flex;
    flex-direction: row;
}

.modalShareHeader .close {
    margin-left: auto;
}

.ReactModal__Overlay {
    z-index: 999;
}

.modalShareBody .shareInput {
    width: 30vw;
    min-width: 400px;
    padding: 10px;
    border: none;
    border: 1px solid black;    
    margin: 0;
}

.modalShareBody .shareInput:focus {
    outline: none;
}

.modalShareBody {
    height: 20%;
}

.modalShareBody .candidates {
    padding: 10px;    
    width: 90%;
    margin-left: calc(5% - 10px);
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 25px;
    border: 1px solid black;    
}

.modalShareBody .resultItem {
    text-align: center;
    justify-content: start;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 10px 10px 10px 0;
}

.resultItem .close {
    margin-left: auto;
}

.modalShareHeader {
    width: 100%;
}

.modalShareHeader .title {
    padding: 10px;
}

.resultItem .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 10px;
}

.searchResult {
    border: 1px solid black;
    width: 30vw;
    min-width: 400px;
    position: absolute;
    padding: 10px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border-top: none;
}

.modalOuter .getStrClose {
    margin-left: auto;
    float: right;
}

.modalGroup {
    height: 150px;
}