.fileview {
    height: calc(100vh - 75px);
    width: 300px;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    border-left: 2px solid black;
    z-index: 99;
}

.fileview .head {
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    position: relative;
    height: 31px;
}

.fileview .head .filename {
    padding: 5px;
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fileview .head .fileBtn {
    padding: 5px;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 23px;
}

.fileview .head .fileBtn .icon{
    height: 21px;
    width: 21px;
    font-size: 21px;
    margin-left: 5px;
    border: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fileview .head .fileBtn .icon:hover{
    background-color: #e2e2e2;
}

.fileopen {
    height: calc(100vh - 75px);
    width: calc(100vw - 302px);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    border-left: 2px solid black;
    z-index: 98;
}

.fileopen .fileopen-close {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    color: white;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.fileopen .fileopen-close:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fileopen .preview {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    color: white;
    width: 80%;
    height: 0;
    padding-top: 57.8%;
}

.fileopen .preview .inner{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}


.fileview .body {
    height: calc(100% - 31px);
    width: 100%;
}

.fileview .body .options {
    width: 100%;
    padding: 10px;
}

.fileview .body .options span{
    font-size: 20px;
    margin-right: 5px;
    text-underline-position: under;
}