.login {
    width: 100vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.login .namespan {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
    max-width: 50%;
    overflow: hidden;
}

.login img {
    padding-top: 100px;
    width: 20vw;
    height: auto;
}

.login input{
    margin: 5px;
    border: none;
    border-bottom: 2px solid #666666;
    font-size: 20px;
}

.login a {
    margin: 0;
    padding: 0;
    color: #666666;
    padding-top: 20px;
}

.login .buttons {
    display: flex;
    margin-top: 10px;
}

.login .buttons .link{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.login .ask {
    height: 30%;
    width: 70%;
}

.login button {
    width: 75px;
}

.askSpan {
    font-size: medium;
}

.askText {
    border: 2px solid #666666;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    font-size: large;
    padding: 10px;
    resize: none;
}

.askAdditional {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.askAdditional input {
    font-size: medium;
    align-items: end;
    outline: none;
}