.editable-column {
    width: 300px;
    min-height: 30px;
    padding: 5px 0px 0px 0px;
    display: flex;
}

.editable-column .texts {
    border-bottom: 2px solid black;
    width: 265px;
    height: 100%;
    padding: 0;
    position: relative;
}

.editable-column .texts .title {
    position: absolute;
    font-size: 25px;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.editable-column .texts .value {
    position: absolute;
    font-size: 16px;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: none;
    text-align: end;
    width:auto;
}

.editable-column .texts .value:focus {
    outline: none;
}

.editable-column .icon{
    height: 30px;
    width: 30px;
    font-size: 30px;
    padding: 0;
    border: none;
    background: none;
    padding-left: 5px;
}

.editable-column .icon svg:hover{
    background-color: #e2e2e2;
}

.private-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    width: 100%;
    height: calc(100vh - 150px);
    min-height: fit-content;
}

.private-profile img{
    object-fit: cover;
    object-position: top;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.private-profile input[type="file"] {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.private-profile label {
    display: inline-block;
    padding: 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    margin: 0;
}

.private-profile .submitBtn{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
}